<!DOCTYPE html>
<html ng-app>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="node_modules/bootstrap/dist/css/bootstrap-theme.min.css">
	<title>Tarefas</title>
</head>
<body>
	<form class="form-horizontal">
		<div class="col-sm-6 col-sm-offset-3">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h2>Tarefa</h2>
				</div>
				<div class="panel-body">
					<div class="form-group">
						<label class="control-label col-sm-3" for="resumo">Resumo</label>
						<div class="col-sm-9">
							<input id="resumo" name="resumo" class="form-control" ng-model="resumo">
							{{resumo}}
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-3" for="descricao">Descrição</label>
						<div class="col-sm-9">
							<textarea id="descricao" name="descricao" class="form-control" ng-model="descricao" rows="6"></textarea>
							{{descricao}}
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-3" for="prazo">Prazo</label>
						<div class="col-sm-9">
							<input id="prazo" name="prazo" class="form-control" ng-model="prazo">
							{{prazo}}
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-3" for="situacao">Situação</label>
						<div class="col-sm-9">
							<select id="situacao" name="situacao" class="form-control" ng-model="situacao">
								<option value="">Selecione...</option>
								<option value="Pendente">Pendente</option>
								<option value="Concluído">Concluído</option>
							</select>
							{{situacao}}
						</div>
					</div>
				</div>
				<div class="panel-footer text-right">
				 	<button type="button" class="btn btn-primary">Salvar</button>
				 	<button type="button" class="btn btn-default">Cancelar</button>
				</div>
			</div>
		</div>
	</form>
	
	<script type="text/javascript" src="node_modules/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="node_modules/angular/angular.min.js"></script>
</body>
</html>